.mentions {
  width: calc(100% - 120px);
  margin-left: 5px;
  margin-top: 10px;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
}
.mentions--singleLine .mentions__highlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  border: 2px inset;
}

.mentions--multiLine .mentions__control {
  font-size: 16px;
}
.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent;
  padding: 9px;
  min-height: 85px;
}
.mentions--multiLine .mentions__input {
  color: rgba(0, 0, 0, 0.733);
  border: 1px solid silver;
  padding: 9px;
  outline: 0;
}

.mentions__suggestions__list {
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item { 
  transition: 0.3s;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: rgba(211, 211, 211, 0.829);
}

.mentions__mention {
  border-radius: 5px;
  position: relative;
  z-index: 1;

  pointer-events: none;
}