.mentions {
  margin-top: -5px;
  margin-left: 20px;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
}
.mentions--multiLine .mentions__control {
  font-size: 16px;
}
.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent;
  padding: 9px;
}
.mentions--multiLine .mentions__input {
  border: 0px solid black;
  padding: 9px;
  outline: 0;
}

.mentions__suggestions__list {
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item { 
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: rgba(211, 211, 211, 0.829);
}

.mentions__mention {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  color: #0085FF;
  background-color: #cee4e5;

  pointer-events: none;
}